[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
tensorflow-gpu = "*"
keras = "*"
"h5py" = "*"
scikit-image = "*"
dicom = "*"
opencv-python = "*"

[dev-packages]

[requires]
python_version = "3.6"
